### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.idea/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Claude ###
.claude/
CLAUDE.md

### BackEnd ###
SpotVault-BackEnd/target
SpotVault-BackEnd/.env

### FrontEnd ###
SpotVault-FrontEnd/node_modules
SpotVault-FrontEnd/.expo
SpotVault-FrontEnd/dist
SpotVault-FrontEnd/expo-env.d.ts